.drop {
  border: 1px solid gray;
  border-radius: 8px;
  /* width: auto; */
  /* min-width: 200px; */
  padding: 1rem 1rem;
  margin: 5rem 2rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.drop ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
  margin: 0;
  width: 100%;
  background: transparent;
}

.drop li {
  margin-left: 5px;
  margin-bottom: 10px;
}

.search {
  width: 100%;
  border: none;
}

.search:focus {
  outline: none;
}

.drop li:last-child {
  /* width: 100%; */
}

.capsule {
  padding: 2px 10px;
  background-color: lightgray;
  border-radius: 12px;
}
